// Variables for the project
$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1200px;
$bp-desktop-xl: 1440px;

// Variables for fonts
$font-family: "Poppins", sans-serif;
$font-size: 16px;

// Colors
$black: #2B2D38;
$white: #FFFFFF;
$pink: #DB2A6B;
$dark-pink: #8f1f48;
$grey: #95969B;
$dark-grey: #464751;
$purple: #6E1FED;
$yellow: #F4B840;
$aqua: #60D3D9;

